
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title> Home</title>
    @Styles.Render("~/Content/bootstrap/css")
</head>
<body>
    <div class="container">
       
    </div>
    @Scripts.Render("~/Content/bootstrap/js")
</body>
</html>
