@using FFMPEG_Demo.Models
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title> Home</title>
    @Styles.Render("~/Content/bootstrap/css")
    <style>
        .bg-1 {
            background-color: aliceblue;
        }

        .my-class {
            display: block;
        }

            .my-class:hover {
                text-decoration: none;
            }

        .my-class-item {
            transition: .5s ease;
        }

            .my-class-item:hover {
                background: #eaeeec;
                transition: .5s ease;
            }
    </style>
</head>
<body class="bg-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 pt-2">
                <ul class="list-group">
                    <li class="list-group-item">Select Class</li>
                    @if (ViewBag.my_class == null)
                    {
                        <li class="list-group-item">No class exist</li>
                    }
                    else
                    {
                        foreach (var item in ViewData["my_class"] as IList<GetClassNames>)
                        {
                            <li class="list-group-item my-class-item">
                                @Html.ActionLink(@item.className, "proceed", "welcome", null, null, null, new { my_class = item.id }, new { @class = "my-class" })
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    @Scripts.Render("~/Content/bootstrap/js")
</body>
</html>
